version: 6.0.0.{build}
image: Visual Studio 2022
configuration: Release
platform: Any CPU
skip_tags: true
skip_branch_with_pr: true
nuget:
  disable_publish_on_pr: true
install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.102' -InstallDir "$env:ProgramFiles\dotnet"
build_script:
- ps: dotnet --version
- ps: dotnet pack /p:Configuration=Release /p:IncludeSymbols=true /p:SymbolPackageFormat=snupkg /maxcpucount /p:ContinuousIntegrationBuild=true /p:EmbedUntrackedSources=true /verbosity:minimal
test_script:
- ps: dotnet test /p:Configuration=Release test/NLog.DiagnosticSource.Tests\NLog.DiagnosticSource.Tests.csproj
artifacts:
  - path: '**\NLog.*.nupkg'
  - path: '**\NLog.*.snupkg'
deploy:
- provider: NuGet
  api_key:
    secure: f6oWebyOFLpuuo2PMd6xgoxwMq+JvXVUmPyBme89zS7UF0zcvLYPSKN/p6B/KaMs
  on:
    branch: master
environment:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: true
    DOTNET_NOLOGO: true

